*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: wheat; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 20px;

}
/* navbar right */
.nav-left{
    display: flex;
    align-items: center;
}

    
.img-search{
    width: 30px;
    height: 30px;
}
.user-icon img{
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 10px;
    /* cursor: pointer; */
    /* width: 40px; */
}

.search-box{
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    /* border: 2px solid red; */
    background: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


}

.search-box input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0;

}
/* nav main */
.nav-main{
   display: flex;
    align-items: center;
}


.img-main img{
    width: 50px;
    height: 50px;
    padding: 50px;
}

/* nav right */
.nav-right{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.img-right img{
    width: 50px;
    height: 50px;
    padding: 20px;
}
/* 2nd part */
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 1%;

}
/* left-sidebar */
.left-sidebar{
    /* background-color: white; */
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* height: 100vh; */
}
/* right-sidebar */
.right-sidebar{
    /* background-color: white; */
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* height: 100vh; */
    /* background: white; */
    
}
.main-content{
    flex-basis: 47%;
    /* background-color: wheat; */
    height: 100vh;

}
/* link-icon */
.link-icon a, .shortcut-link a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;

}

.link-icon a img{
    width: 50px;
    margin-right: 15px;
} 
.link-icon a:last-child{
    color: blue;
}
.link-icon{
    border-bottom: 2px solid gray;
}
.shortcut-link a img{
    width: 50px;
    padding: 5px;
}
.shortcut-title{
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* right-sidebar */
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 20px;
    border-radius: 4px;
    color: gray;
    background: white;
}
.sidebar-title h4{
    font-size: 25px;
    font-weight: bold;
}
.sidebar-title a{
    text-decoration: none;
    font-size: 16px;
    color: blue;
}
/* right-title-sidebar */
.right-title-sidebar{
    display: flex;
    align-items: center;

}
/* main part */
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    /* border: 2px solid red; */
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
}

.story img{
    width: 40px;
    position: absolute;
    border-radius: 50px;
    top: 10px;
    left: 10px;
    /* border-radius: 5px solid red; */
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;

}
.story.story-1{background-image: linear-gradient(transparent, rgba(0,0,0,00.5)), url(/img/rahul.png);

}

.story.story-2{background-image: linear-gradient(transparent, rgba(0,0,0,00.5)), url(/img/sifat.png);

}

.story.story-3{background-image: linear-gradient(transparent, rgba(0,0,0,00.5)), url(/img/rahul.png);

}

.story.story-4{background-image: linear-gradient(transparent, rgba(0,0,0,00.5)), url(/img/sifat.png);

}

.story.story-5{background-image: linear-gradient(transparent, rgba(0,0,0,00.5)), url(/img/rahul.png);

}

.story.story-1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%);
    border: 0%;
    width: 35px;
}

.wirth-container{
    width: 80;
    background: wheat;
    border-radius: 6px;
    padding: 20px;
    columns: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
}

.user-profile p small{
    margin-bottom: -5px;
    font-weight: bold;
    color: grey;
}

/* .user-profile small{
    font-size: 16px;
} */
