*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 20px;

}
/* navbar right */
.nav-left{
    display: flex;
    align-items: center;
}

    
.img-search{
    width: 30px;
    height: 30px;
}
.user-icon img{
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 10px;
    /* cursor: pointer; */
    /* width: 40px; */
}

.search-box{
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    /* border: 2px solid red; */
    background: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


}

.search-box input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0;

}
/* nav main */
.nav-main{
   display: flex;
    align-items: center;
}


.img-main img{
    width: 50px;
    height: 50px;
    padding: 50px;
}

/* nav right */
.nav-right{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.img-right img{
    width: 50px;
    height: 50px;
    padding: 20px;
}